<style>
  .site-nav__link,
  .site-nav__dropdown-link:not(.site-nav__dropdown-link--top-level) {
    font-size: 10px;
    letter-spacing: 0.05em;
  }
  
  .site-nav__link {
    font-size: 10px;
  	letter-spacing: 0.05em;
  }
  
   .site-nav__dropdown-link {
    font-size: 10px;
    letter-spacing: 0.05em;
}
  
  .h5 {
    font-size:10px;}
  
 
  
    .site-nav__link, .mobile-nav__link--top-level {
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
    .mobile-nav__link--top-level {
      font-size: 1.1em;
    }

    .megamenu__colection-image {
      display: none;
    }

	@media only screen and (min-width: 769px){
	.medium-up--one-fifth {
 	width: 20%;
      float: left;
	}

  	.grid__item {
    float: left;
    padding-left: 22px;
    width: 100%;
    min-height: 1px;
	}
    }
  
  .appear-animation {
  opacity: 0;
  transform: translateY(60px); }

.appear-delay-1 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.075s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s; }

.appear-delay-2 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.195s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.27s; }

.appear-delay-3 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.255s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.33s; }

.appear-delay-4 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.315s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.39s; }

.appear-delay-5 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.375s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.45s; }

.appear-delay-6 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.435s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.51s; }

.appear-delay-7 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.495s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.57s; }

.appear-delay-8 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.555s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.63s; }

.appear-delay-9 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.615s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.69s; }

.appear-delay-10 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.675s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.75s; }

.appear-delay-11 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.735s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.81s; }

.appear-delay-12 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.795s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.87s; }

.appear-delay-13 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.855s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.93s; }

.appear-delay-14 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.915s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.99s; }

.appear-delay-15 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 0.975s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.05s; }

.appear-delay-16 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.035s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.11s; }

.appear-delay-17 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.095s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.17s; }

.appear-delay-18 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.155s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.23s; }

.appear-delay-19 {
  transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.215s, opacity 0.85s cubic-bezier(0.165, 0.84, 0.44, 1) 1.29s; }


</style>

{% unless limit %}
  {%- assign limit = main_menu.links.size -%}
{% endunless %}
{% unless offset %}
  {%- assign offset = 0 -%}
{% endunless %}


<ul
  class="site-nav site-navigation small--hide"
  {% unless disable_aria %}
    role="navigation" aria-label="Primary"
  {% endunless %}>
  {% for link in main_menu.links limit: limit offset: offset %}
    {%- assign child_list_handle = link.title | handleize -%}
    {%- assign has_dropdown = false -%}
    {% if link.links != blank %}
      {%- assign has_dropdown = true -%}
    {% endif %}

    <li
      class="site-nav__item site-nav__expanded-item {% if has_dropdown %} site-nav--has-dropdown site-nav--is-megamenu{% endif %}
      {% unless template == 'index' %}{% if link.active %} site-nav--active{% endif %}{% endunless %}"
      {% if has_dropdown %}aria-haspopup="true"{% endif %}>
      
      

      <a href="{{ link.url }}" class="site-nav__link{% if has_dropdown %} site-nav__link--underline site-nav__link--has-dropdown{% endif %}">
        {{ link.title }}
        {% if has_dropdown %}
          {% include 'icon-chevron-down' %}
        {% endif %}
      </a>
      
      {% if has_dropdown %}
          
        <div class="site-nav__dropdown megamenu text-left" style="text-align: left !important">
         <div class="page-width">
            <div class="grid grid--center">
              {% for childlink in link.links %}
          		{%- assign grand_child_list_handle = childlink.title | handle -%}
            	{%- assign has_sub_dropdown = false -%}
            	{% if childlink.links != blank %}
              	{%- assign has_sub_dropdown = true -%}
            	{% endif %}
              
              <div class="grid__item medium-up--one-fifth appear-animation appear-delay-1">
          		<div class="h5 {% if childlink.active %}site-nav--active {% endif %}">
                    <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--top-level {% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}">
					{{ childlink.title | escape }}
              		</a>
                  	{% if link.type == "blog.article" and link.featured_image_src %}
    				{{ link.featured_image_src | img_url: 'small' | img_tag }}
    				{% endif %}
              		{% if has_sub_dropdown %}
                	<div class="site-nav__dropdown-link text-left">
                  	{% for grandchildlink in childlink.links %}
                    <div>
                      <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">{{ grandchildlink.title | escape }}</a>
						{% if link.type == "article.url" %}
    					{{ link.featured_image_src | img_url: 'small' | img_tag }} 
                      	{% endif %}
                      </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
        	</div>
              
              {% endfor %} 
           </div>
         </div>
      </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>